# Notebooks
test.ipynb
*.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.egg-info/
.eggs/
dist/
build/

# Env
.venv/
venv/
env/

# Node (if any)
node_modules/

# Generated / local data
cache_mels/
cache_numfeats/
data/
training_calls/
index.html
model_checkpoints/full_retrained/*
model_checkpoints/local/*